In [17]:
#use "sort.ml"

val _swap : 'a array -> int -> int -> unit = <fun>
val sort_bubble : 'a array -> unit = <fun>
val _split : 'a list -> 'a list * 'a list = <fun>
val _fusion : 'a list -> 'a list -> 'a list = <fun>
val fusion_sort : 'a list -> 'a list = <fun>

In [18]:
let t = [|4; 1; -5; 0; 7|]

val t : int array = [|4; 1; -5; 0; 7|]

In [19]:
sort_bubble t

- : unit = ()

In [20]:
t

- : int array = [|-5; 0; 1; 4; 7|]

In [21]:
_fusion [1; 4; 3] [2; 5; 6]

- : int list = [1; 2; 4; 3; 5; 6]

In [22]:
_split [1; 5; 3]

- : int list * int list = ([1; 3], [5])

In [23]:
fusion_sort [2; 5; 3; 9; 0]

- : int list = [0; 2; 3; 5; 9]